@model _16_March.Models.DeptEmpLists
@{
    ViewData["Title"] = "Index";
}

<h1>Select Department Name</h1>

            <form asp-action="ShowEmps">
                 <div class="form-group">
       
                @*<input asp-for="DeptNo" class="form-control" />*@
               <select asp-for="DeptNo"  asp-items="ViewBag.Department" class ="form-control"></select>
                  <input type="submit" value="Show Employee"  class="btn btn-primary" />
          
            </div>
            </form>



 <h2>List of Employees</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                EmpNo
            </th>
            <th>
                EmpName
            </th>
            <th>
                Salary
            </th>
            <th>
               Designation
            </th>
            <th>
               DeptNo
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       
 @foreach(var item in Model.Employees) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeptNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
               
            </td>
        </tr>
}
    </tbody>
</table>